<header>
  <img
    src="assets/img/alex.jpg"
    alt="Alex Cordeiro - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Alex Cordeiro</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Developer | Angular | Java | Spring Framework</p>
    <p>São João de Meriti, Rio de Janeiro, Brasil</p>
    <p>
      Me considero um profissional dedicado, estudioso, comprometido e flexível,
      sempre procurando entregar o melhor de mim para a minha equipe com
      soluções inteligentes e ágeis. Assim como, busco desafios profissionais
      para a minha carreira.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/alexsanjr/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5521980394389&text=Ol%C3%A1%Alex,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para: </strong>
            <p>WhatsApp: (21) 9 8039-4389</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:alex.sandro.1199@gmail.com" target="_blank">
            <strong>Envie um e-mail para: </strong>
            <p>alex.sandro.1199&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
